<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD PARTIAL -->
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER PARTIAL -->
    <%- include ('./partials/header.ejs') %>
    <div class="content">
        <h1>Inventory</h1>
        <!-- INVENTORY NAV -->
        <%- include ('./partials/inventory-nav.ejs') %>
        <div class="category-content">
            <div class="category-header">
                <h2>Artifact Details</h2>
                <form action="#">
                    <input class="primary" type="submit" value="Edit Artifact" />
                </form>
            </div>
            <div class="artifact-details">
                <div class="artifact-col">
                    <p><strong>Set</strong></p>
                    <p><%= artifact.set %></p>
                    <p><strong>Quality</strong></p>
                    <p><%= artifact.quality %></p>
                    <p><strong>Level</strong></p>
                    <p><%= artifact.level %></p>
                    <p><strong>Type</strong></p>
                    <p><%= artifact.type %></p>
                </div>
                <div class="artifact-col">
                    <div class="stats">
                        <h3>Main Stat</h3>
                        <p><strong><%= artifact.mainStat.statType %></strong></p>
                        <p><%= artifact.mainStat.statNumber %></p>
                    </div>
                    <div class="stats">
                        <h3>Sub Stats</h3>
                        <p><strong><%= artifact.subStat1.statType %></strong></p>
                        <p><%= artifact.subStat1.statNumber %></p>
                        <p><strong><%= artifact.subStat2.statType %></strong></p>
                        <p><%= artifact.subStat2.statNumber %></p>
                        <p><strong><%= artifact.subStat3.statType %></strong></p>
                        <p><%= artifact.subStat3.statNumber %></p>
                        <p><strong><%= artifact.subStat4.statType %></strong></p>
                        <p><%= artifact.subStat4.statNumber %></p>
                    </div>
                </div>
                <div class="artifact-col">
                    <p><%= artifact.equippedTo %></p>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER PARTIAL -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>