<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD PARTIAL -->
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER PARTIAL -->
    <%- include ('../partials/header.ejs') %>
    <div class="content">
        <h1>Inventory</h1>
        <!-- INVENTORY NAV -->
        <%- include ('../partials/inventory-nav.ejs') %>
        <div class="category-content">
            <div class="category-header">
                <h2>Artifacts</h2>
                <form action="/artifacts/new">
                    <input class="primary" type="submit" value="New Artifact" />
                </form>
            </div>
            <div class="item-grid">
                <% for ( let i = 0; i < allArtifacts.length; i++) { %>
                <div class="artifact-grid-item
                <% if ( allArtifacts[i].rarity === 5) { %>
                    rarity5-border
                <% } else if ( allArtifacts[i].rarity === 4 ) { %>
                    rarity4-border
                <% } else if ( allArtifacts[i].rarity === 3 ) { %>
                    rarity3-border
                <% } else if ( allArtifacts[i].rarity === 2 ) { %>
                    rarity2-border
                <% } else if ( allArtifacts[i].rarity === 1 ) { %>
                    rarity1-border
                <% } %>
                ">
                    <div class="artifact-item-header
                        <% if ( allArtifacts[i].rarity === 5) { %>
                            rarity5
                        <% } else if ( allArtifacts[i].rarity === 4 ) { %>
                            rarity4
                        <% } else if ( allArtifacts[i].rarity === 3 ) { %>
                            rarity3
                        <% } else if ( allArtifacts[i].rarity === 2 ) { %>
                            rarity2
                        <% } else if ( allArtifacts[i].rarity === 1 ) { %>
                            rarity1
                        <% } %>
                    ">
                        <p class="artifact-set-text"><%= allArtifacts[i].set %></p>
                        <p class="artifact-rarity-text"><%= allArtifacts[i].rarity %> <span class="star">&#9733;</span></p>
                    </div>
                    <div class="artifact-info">
                        <div class="artifact-main-stats">
                            <p class="artifact-level-text">+ <%= allArtifacts[i].level %></p>
                            <div>
                                <p class="artifact-mainstat-text"><%= allArtifacts[i].mainStat.statType %> </p>
                                <p class="artifact-mainstat-num-text"><%= allArtifacts[i].mainStat.statNumber %></p>
                            </div>
                        </div>
                        <div class="artifact-type">
                            <p class="artifact-type-text"><%= allArtifacts[i].type %></p>
                        </div>
                    </div>
                    <div class="artifact-equipped-to">
                        <p class="artifact-equipped-text"><strong>Equipped:</strong> <%= allArtifacts[i].equippedTo %></p>
                        <!-- <div class="artifact-actions">
                            <form action="/artifacts/<%= allArtifacts[i].id %>">
                                <input class="primary" type="submit" value="View Details" />
                            </form>
                        </div> -->
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- FOOTER PARTIAL -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>