<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD PARTIAL -->
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER PARTIAL -->
    <%- include ('../partials/header.ejs') %>
    <div class="content">
        <h1>Inventory</h1>
        <!-- INVENTORY NAV -->
        <%- include ('../partials/inventory-nav.ejs') %>
        <div class="category-content">
            <div class="category-header">
                <h2>Artifacts</h2>
                <form action="/inventory/artifacts/new">
                    <input class="primary" type="submit" value="New Artifact" />
                </form>
            </div>
            <div class="item-grid">
                <% for ( let i = 0; i < allArtifacts.length; i++) { %>
                <div class="grid-item">
                    <h3><%= allArtifacts[i].set %></h3>
                    <ul>
                        <li><strong>Type:</strong> <%= allArtifacts[i].type %></li>
                        <li><strong>Rarity:</strong> <%= allArtifacts[i].rarity %></li>
                        <li><strong>Level:</strong> <%= allArtifacts[i].level %></li>
                        <li><strong>Main Stat:</strong> <%= allArtifacts[i].mainStat.statType %> - <%= allArtifacts[i].mainStat.statNumber %></li>
                        <li><strong>Equipped:</strong> <%= allArtifacts[i].equippedTo %></li>
                    </ul>
                    <form action="/inventory/artifacts/<%= allArtifacts[i].id %>">
                        <input class="primary" type="submit" value="View Details" />
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- FOOTER PARTIAL -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>