<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD PARTIAL -->
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER PARTIAL -->
    <%- include ('../partials/header.ejs') %>
    <!-- INVENTORY NAV -->
    <%- include ('../partials/inventory-nav.ejs') %>
    <div class="content">
        <div class="category-content">
            <div class="category-header">
                <h1>Artifact Details</h1>
                <div class="item-options">
                    <form action="/artifacts/<%= artifact.id %>/edit">
                        <input class="primary" type="submit" value="Edit Artifact" />
                    </form>
                    <form action="/artifacts/<%= artifact.id %>?_method=DELETE" method="POST">
                        <input class="primary" type="submit" value="Delete Artifact" />
                    </form>
                </div>
            </div>
            <div class="artifact-content-container">
                <div class="artifact-content">
                    <div class="show-left-col">
                        <div>
                            <p><%= artifact.set %></p>
                            <p>+ <%= artifact.level %></p>
                            <p><%= artifact.type %></p>
                            <p><%= artifact.rarity %> <span class="star">&#9733;</span></p>
                        </div>
                    </div>
                    <div class="stats-col">
                        <div class="main-stat">
                            <p class="show-main-stat"><%= artifact.mainStat.statType %></p>
                            <p class="show-main-stat-number"><%= artifact.mainStat.statNumber %></p>
                        </div>
                        <div class="substats">
                        <% if ( artifact.subStat1.statType !== "None" ) { %>
                            <p class="substats-type"><%= artifact.subStat1.statType %></p>
                            <p class="substats-number"><%= artifact.subStat1.statNumber %></p>
                            <% if ( artifact.subStat2.statType !== "None" ) { %>
                            <p class="substats-type"><%= artifact.subStat2.statType %></p>
                            <p class="substats-number"><%= artifact.subStat2.statNumber %></p>
                            <% } %>
                            <% if ( artifact.subStat3.statType !== "None" ) { %>
                            <p class="substats-type"><%= artifact.subStat3.statType %></p>
                            <p class="substats-number"><%= artifact.subStat3.statNumber %></p>
                            <% } %>
                            <% if ( artifact.subStat4.statType !== "None" ) { %>
                            <p class="substats-type"><%= artifact.subStat4.statType %></p>
                            <p class="substats-number"><%= artifact.subStat4.statNumber %></p>
                            <% } %>
                        <% } else { %>
                            <p class="substats-type"> Substats</p>
                            <p class="substats-number">None</p>
                        <% } %>
                        </div>
                    </div>
                </div>
                <div class="equipped">
                    <h3>Equipped</h3>
                    <%- include ('../partials/character-portraits.ejs') %> 
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER PARTIAL -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>