<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HEAD PARTIAL -->
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER PARTIAL -->
    <%- include ('../partials/header.ejs') %>
    <!-- INVENTORY NAV -->
    <%- include ('../partials/inventory-nav.ejs') %>
    <div class="content">
        <div class="category-content">
            <div class="category-header">
                <h1>Artifact Details</h1>
                <div class="item-options">
                    <form action="/artifacts/<%= artifact.id %>/edit">
                        <input class="primary" type="submit" value="Edit Artifact" />
                    </form>
                    <form action="/artifacts/<%= artifact.id %>?_method=DELETE" method="POST">
                        <input class="primary" type="submit" value="Delete Artifact" />
                    </form>
                </div>
            </div>
            <div class="artifact-content-container">
                <div class="artifact-content">
                    <div class="artifact-col">
                        <p><strong>Set</strong></p>
                        <p><%= artifact.set %></p>
                        <p><strong>Rarity</strong></p>
                        <p><%= artifact.rarity %></p>
                        <p><strong>Level</strong></p>
                        <p><%= artifact.level %></p>
                        <p><strong>Type</strong></p>
                        <p><%= artifact.type %></p>
                    </div>
                    <div class="artifact-col">
                        <div class="stats">
                            <h3>Main Stat</h3>
                            <p><strong><%= artifact.mainStat.statType %></strong></p>
                            <p><%= artifact.mainStat.statNumber %></p>
                        </div>
                        <div class="stats">
                        <% if ( artifact.subStat1.statType !== "None" ) { %>
                            <h3>Sub Stats</h3>
                            <p><strong><%= artifact.subStat1.statType %></strong></p>
                            <p><%= artifact.subStat1.statNumber %></p>
                            <% if ( artifact.subStat2.statType !== "None" ) { %>
                            <p><strong><%= artifact.subStat2.statType %></strong></p>
                            <p><%= artifact.subStat2.statNumber %></p>
                            <% } %>
                            <% if ( artifact.subStat3.statType !== "None" ) { %>
                            <p><strong><%= artifact.subStat3.statType %></strong></p>
                            <p><%= artifact.subStat3.statNumber %></p>
                            <% } %>
                            <% if ( artifact.subStat4.statType !== "None" ) { %>
                            <p><strong><%= artifact.subStat4.statType %></strong></p>
                            <p><%= artifact.subStat4.statNumber %></p>
                            <% } %>
                        <% } else { %>
                            <h3>Sub Stats</h3>
                            <p>None</p>
                        <% } %>
                        </div>
                    </div>
                </div>
                <div class="equipped">
                    <h3>Equipped</h3>
                    <%- include ('../partials/character-portraits.ejs') %> 
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER PARTIAL -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>